<%= form_for @question do |f| %>
<ul>
  <li>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </li>
  <li>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </li>
  <li>
    <%= f.submit "Submit Question" %>
  </li>
</ul>
<% end %>

<div id="markdown">Default</div>